.profile {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  align-items: center;
  justify-content: center;
}

img {
  border: 1px solid lightgrey;
  border-radius: 100px;
  margin: 15px;
}

.info {
  margin: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.other-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills {
  display: flex;
  flex-direction: row;
}

#hireme {
  color: red;
}
