// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-gray: #eee;
$green: green;

* {
  box-sizing: border-box;
}

.house-form {
  border: 1px $light-gray solid;
  padding: 20px;
  border-radius: 3px;

  input, textarea {
    padding: 5px;
    border: 1px $light-gray solid;
    border-radius: 3px;
    width: 100%;
    &[type=submit] {
      color: white;
      background-color: $green;
      border: 1px lighten($green, 10%) solid;
    }
  }
}
