<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHANGEME</title>
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="/public/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    <main>
        Your Content Here.
    </main>

    <footer>
      This page was rendered in {{secondsToRender}}ms.
    </footer>
  </body>
</html>
